.m-user-equip {
  display: flex;
  justify-content: space-between;
  .m-box {
    .size(480px, 680px);
    .pr;
    background: url(../../img/bg.png) center no-repeat;
    border: 1px solid #ddd;
    .r(3px);
    .m-img {
      .pa;
      .pointer;
    }
    .equip0 {
      .lt(120px, 580px);
    }
    .equip1 {
      .lt(205px, 580px);
    }
    .equip2 {
      .lt(280px, 580px);
    }
    .equip3 {
      .lt(30px, 200px);
    }
    .equip4 {
      .lt(30px, 50px);
    }
    .equip5 {
      .lt(400px, 260px);
    }
    .equip6 {
      .lt(400px, 400px);
    }
    .equip7 {
      .lt(400px, 470px);
    }
    .equip8 {
      .lt(30px, 360px);
    }
    .equip9 {
      .lt(400px, 330px);
    }
    .equip10 {
      .lt(400px, 120px);
    }
    .equip11 {
      .lt(400px, 190px);
    }
    .equip12 {
      .lt(400px, 50px);
    }
  }
}
.m-item-box,
.m-item-box .u-line {
  display: flex;
  flex-direction: column;
}
.m-item-box {
  .u-line {
    padding-bottom: 10px;
  }
  .u-name {
    .name {
      .fz(15px);
      .color(#f39);
    }
  }
  .u-chant {
    .fz(12px);
    .color(#0366d6);
  }
  .u-stone {
    span {
      .mb(5px);
      display: flex;
      align-items: center;
      img {
        .size(24px);
        .mr(5px);
      }
    }
  }
  .u-color {
    display: flex;
    align-items: center;
    .mb(10px);
    .name{
      .color(#3585de);
    }
    .u-line {
      padding-bottom: 0;
      .fz(12px);
    }
    img {
      .mr(5px);
    }
  }
}
