.w-player-basic{
    border-bottom:1px solid @border-hr;
    .mb(20px);
}
.w-player-title{
    .nobreak;
}
.w-player-role{
    color:@color;
}
.w-player-mount{
    .y;
    .mr(3px);
}
.w-player-level{
    .fz(13px);
    .ml(10px);
    color:#999;
}