.w-player-box {
    max-width: 1080px;
    margin: 0 auto;
    .m-player-equip {
        padding: 10px;
    }
    .m-player-info {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .m-intro {
            border-bottom: 1px solid #ddd;
        }
    }
}

.w-player-primary{
    display: flex;
}